<!-- templates/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login with Google</title>
</head>
<body>
    <h1>Login with Google</h1>
    <p>Click the link below to authenticate with your Google account:</p>
    <a href="{{ authorization_url }}">Authenticate with Google</a>
</body>
</html>
