<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting...</title>
</head>
<body>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // JSON data to send
            const jsonData = {{ data | tojson | safe }};

            // Create a form dynamically
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = 'https://book-esi-axju6.ondigitalocean.app/get_client_information';  // Replace with the actual destination URL

            // Create a hidden input field for JSON data
            const jsonInput = document.createElement('input');
            jsonInput.type = 'hidden';
            jsonInput.name = 'json_data';
            jsonInput.value = JSON.stringify(jsonData);

            // Append the input field to the form
            form.appendChild(jsonInput);

            // Append the form to the body
            document.body.appendChild(form);

            // Submit the form
            form.submit();
        });
    </script>
</body>
</html>
